:root {
    --Dark-Gray: hsl(0, 0%, 55%);
    --Very-Dark-Gray: hsl(0, 0%, 41%);
}

* {
    margin: 0;
    padding: 0;
    user-select: none;
    /* font-family: 'Alata', sans-serif; */
    /* font-family: 'Josefin Sans', sans-serif; */
}