.navbar{
    height: 12rem;
    width: 100%;
    padding: 0 170px !important;
}

.navbar-brand {
    font-family: 'Assistant', sans-serif;
    font-size: 42px !important;
    font-weight: 800;
}

.nav-links {
    font-family: 'Alata', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 15px 0 15px;
}

.nav-link{
    margin-left: 15px;
    margin-right: 15px;
    font-size: 18px !important;
    display: flex !important; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white !important;
}

.line {
    margin-top: 5px;
    background-color: white;
    height: 2px;
    width: 50%;
    visibility: hidden;
}

.navbar-container {
    display: flex;
    justify-content: center;
    padding: 15px;
}

.navbar-toggled {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    z-index: 1;
}

.nav-link:hover {
    cursor: pointer;
}

.nav-link:hover .line{
    visibility: visible;
}

a {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 1600px) {  
    .navbar{
        padding: 0 120px !important;
    }
}

@media (max-width: 1400px) {  
    .navbar{
        padding: 0 80px !important;
    }
}

@media (max-width: 1200px) {  
    .navbar{
        padding: 0 40px !important;
    }
    .nav-link{
        margin-left: 10px;
        margin-right: 10px;
    }
}

@media (max-width: 500px) {  
    .navbar{
        padding: 0 10px !important;
    }
    .navbar-brand {
        font-size: 36px !important;
    }
}
